<section class="banner">
    <div class="container">
  <div>
    <div>
      <h1>Blog</h1>
      <p>Generate sample data with a single click. Choose from three different sample datasets to populate your store with dummy data. Use the "clothes/accessories" theme which supports products with multiple variants (size and color). Use the "paintings" theme which supports single variant (option) products. Use the "toys" sample data theme which supports single variant (option) products. Generate products, smart and custom collections, customers, and orders. Easily remove Shopify test data. </p>
      <button mat-raised-button color="primary">Get started</button>
      <button mat-raised-button routerLink="/contact-us">Hire Us</button>
    </div>
  </div>
    </div>
  </section>



