



<section class="banner">
    <div class="container">
  <div>
    <div>
      <h1>Landing Page</h1>
      <p>Material Design components for Angular
      </p>
      <div>
      
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary">Get started</button>
      <button mat-raised-button>Get started</button>
    </div>
  </div>
    </div>
  </section>
  <section>
    <div class="container">
      
    </div>
  </section>